doctype html
html
  head
    #head
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
      script(src='/javascript/standardtemplate.js', type='text/javascript')
    title  One Time Jobs 
  body
    #full
      #header  
      #user
      #footer  
