
/* One time job - CSS */
/* HTML5 */

/** Standard header and footer template **/

/* Responsive Web design - this ensures padding and border in total width and height of element */
* {
    box-sizing: border-box;
}

html, body, div, p, h1, h2, h3, h4, h5, h6, a, img, ol, ul, li, form, table, thead, tbody, tr, th, td, article, aside, header, footer, nav, section { padding: 0; border: 0; margin: 0; }
html, body		{ width: 100%; height: 100%; }
body			{ min-width: 0px; text-align: center; font-family: "Arial", "Helvetica", sans-serif; font-weight: 400; font-size: 18px; color: #797979; background: #EAECEB; }

a				{ color: #039BE5; text-decoration: none; }
a:hover			{ color: #0288D1; text-decoration: none; }

/* Header */

header					{ z-index: 1; position: fixed; width: 100%; height: 50px; opacity: 0.97; background: #0088FF; background-image: linear-gradient(#006CFF, #0088FF); box-shadow: 0px 1px 2px #00B3FF; }
header #content			{ max-width: 100%; text-align: left; padding: 0px 10px; margin: auto; }
header a.home			{ display: inline-block; width: 100px; height: 40px; background: url(/stylesheets/images/our_logo.png) no-repeat; background-size: 100px 40px; margin: 5px 5px 5px 5px; }
header a.search_jobs			{ position: relative; display: inline-block; width: 30px; height: 30px; background: #FFF url(/stylesheets/images/search_button.png) no-repeat; border-radius: 5px; background-size: 30px 30px; margin: 8px 0 12px 0;}
header a.search_jobs:hover	{ box-shadow: 0 0 3px #FFF; }
header form				{ display: inline-block; width: 380px; vertical-align: top; margin: 0 5px 0 0; overflow: hidden; }
header form #swrap		{ display: inline-block; width: 270px; white-space: nowrap; }
header form #search	{ display: inline-block; position: relative; top: 12px; left: -48px; white-space: nowrap; margin-right: -185px; }
header form #term		{ display: inline-block; width: 380px; height: 30px; font-size: 18px; color: #004D40; background: #F9F9F9; padding: 2px 8px; border: none; border-radius: 5px; margin: 8px 0 8px 0; }
header form #term:focus	{ outline: none; background: #FFFDE7; box-shadow: 0 0 2px #FFFDE7; }

/** Menu **/
nav				{ float: right;}
#menu			{ display: inline-block; }
#menu li			{ display: inline-block; }
#menu a			{ display: inline-block; height: 50px; color: #f5f5f5; padding: 12px 20px 12px 20px; }
#menu a:hover	{ color: #FFF9C4; background-color: rgba(0, 50, 40, 0.3); }

/* Footer */
footer			{ position: relative; bottom: 0px; left: 0px; width: 100%; background: #0088FF; background-image: linear-gradient(#006CFF, #0088FF); font-size: 12px; color: #fafafa; padding: 3px 10px 4px 10px; }
footer a		{ color: #FFF; }
footer a:hover	{ color: #FFF9C4; }

#full			{ position: relative; height: auto !important; min-height: 100%; width: 100%; overflow: hidden; }
.hSpace			{ display: inline-block; width: 100px; max-height: 30px; margin: auto;}


/* SlickNav - Do not display on desktop */
.slicknav_menu	{ display: none; }
.slicknav_btn { float: right; display: block; position: relative; top: -3px; padding: 10px; margin: 6px 0 0 0; vertical-align: middle; cursor: pointer; }
.slicknav_btn .slicknav_icon-bar + .slicknav_icon-bar { margin-top: 4px; }
.slicknav_btn:hover .slicknav_icon-bar	{ box-shadow: 0 0 2px #FFF; }
.slicknav_menu { box-sizing: border-box; font-size: 16px; background: none; padding: 5px; }
.slicknav_menu .slicknav_icon-bar	{ display: block; width: 20px; height: 2px; background-color: #FFF; border-radius: 1px; }
.slicknav_menu:before { content: " "; display: table; }
.slicknav_menu:after { content: " "; display: table; clear: both; }
.slicknav_nav { z-index: 0; float: right; position: fixed; top: 50px; width: 100%; background-color: #004D40; padding: 0; margin: 0 0 0 -5px; overflow: hidden; }
.slicknav_nav a, .slicknav_nav ul, .slicknav_nav li { display: block; }
.slicknav_nav a { font-size: 18px; color: #fafafa; text-decoration: none; padding: 9px 2px 10px 2px; }
.slicknav_nav a:hover { color: #FFF176; background-color: rgba(0, 50, 40, 0.5); }
.slicknav_nav ul { list-style: none; padding: 0; margin: 0 0 0 20px; overflow: hidden; }


/** For mobile devices **/
@media only screen and (max-width: 768px)
{
	header 	{ height:40px; box-shadow: none; }
	header a.search_jobs 	{ width: 30px; height: 30px; border-radius: 3px; background-size: 30px 35px; margin: 0px 0 5px 0;}
	header a.home 	{ width: 60px; height: 40px; background: url(/stylesheets/images/our_logo_mobile.png)no-repeat; background-size: 60px 40px; margin: 0 0 0 0; }
	header #content 	{ max-width: 100%; text-align: left; padding: 0px 0px; margin: auto; }
	header form				{ width: 200px; margin: 0 2px 0 0;}
	header form #term		{ width: 200px; height: 30px; font-size: 12px; padding: 2px 5px; border-radius: 3px; margin: 4px 0 4px 0; }
	header form #swrap		{ width: 180px;}
	
	.hSpace			{ display:none;}
	#menu 	{ display: none; }
	.slicknav_menu { display: block; margin-bottom: -50px; }
}

/** ----------------  Standard template ends here -----------------**/



h2				{ font-size: 30px; font-weight: 600; margin: 25px 0;}
form#registration.formTable 	{ margin: 10px 20px 10px 20px; text-align: left; max-width: 800px; padding: 10px 0 0 5px; } 
input				{ display: inline-block; width: 250px; height: 26px; font-size: 18px; color: #004D40; background: #F9F9F9; padding: 0 0 0 5px; border: none; border-radius: 5px; margin: auto; border: 1px solid #A9A9A9;}
#main 			{ max-width: 100%; min-height: 380px; width: 38%; background: #FFF; text-align: center; padding: 15px 0; border: 1px solid #459DFF; border-radius: 3px; box-shadow: 0px 1px 1px #C8C8C8; margin: 0 auto 20px auto; overflow: hidden; }


.vSpace			 { display: block; height: 50px;}
.submitButton	 { width: 100px; height: 38px; color: #fff; font-size: 18px; font-weight: bold; text-align: center; background:  #1E88E5;  background-image: linear-gradient(#2196F3, #1E88E5); border: 1px solid #1976D2; border-radius: 5px; margin-right: 10px; margin-bottom: 10px; padding: 6px 0 6px 0;}
.submitButton:hover			{ color: #FFF; background: #1976D2; background-image: linear-gradient(#1E88E5, #1976D2); border-color: #01579B; }
.submitButton:active 		{ color: #FFF; background: #1565C0; background-image: linear-gradient(#1976D2, #1565C0); border-color: #0D47A1; }
.cb 			{ width: 16px; height: 16px; margin: 5px;}


/* Universal Styles */
.center			{ text-align: center; }
.floatLeft		{ float: left; margin: 0 10px 0 0; }
.floatRight		{ float: right; }
.menu			{ color: #00897B; }
.button			{ display: inline-block; color: #00897B; font-size: 14px; line-height: 14px; padding: 2px 5px; background: #FAFCFB; border: 2px solid #009688; border-radius: 5px; margin-top: -5px; vertical-align: middle; }

/* Autocomplete - TODO */
.autocomplete-suggestions { background: #FFF; border: 1px solid #00796B; border-radius: 5px; overflow: auto; }
.autocomplete-suggestion { text-align: left; padding: 2px 8px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #EAECEB; }
.autocomplete-suggestions strong { font-weight: normal; color: #1E88E5; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }


/** For mobile devices **/
@media only screen and (max-width: 768px)
{
	#main { width: 90%; font-size: 12px; }
	table { margin: 0 0 0 -20px;}
	input { width: 150px;  font-size: 15px;}
	h2	{ font-size: 20px; font-weight: 400; margin: 15px 0;}
}




